# Core dependencies
fastapi
uvicorn
pydantic
python-dotenv
jinja2
python-multipart
gunicorn
passlib

# Database and storage
pyodbc
pymssql
qdrant-client

# Machine Learning and NLP
torch
transformers
sentence-transformers
langchain
langchain-core
langchain-ollama
langdetect
numpy

# Model Optimization
accelerate
bitsandbytes
safetensors
ollama
autoawq
triton
huggingface_hub

# Arabic Language Support
PyArabic
arabert
farasapy
tf-keras

# Security and Utils
pyOpenSSL
cryptography
better_profanity
pyngrok
pymupdf

# Testing
pytest