fastapi
uvicorn
pyodbc
sentence-transformers
numpy
langchain
langchain-core
langchain-ollama
langdetect
qdrant-client
python-dotenv
jinja2
pyngrok
python-multipart
pydantic
pyOpenSSL
cryptography
better_profanity
PyArabic
# AraBERT and dependencies for Arabic language support
transformers
tensorflow
arabert
farasapy
pyarabic
tf-keras
pymssql
pytest
pymupdf
gunicorn
passlib
torch
accelerate
bitsandbytes
safetensors
ollama